{% extends "base.html" %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Casino Royal Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        {% if bankroll and mise_joueur %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <span>Bank : {{ bankroll }} €</span>
            </li>
            <li class="nav-item">
                <span>Bet : {{ mise_joueur }} €</span>
            </li>
        </ul>

        {% endif %}
    </div>
</nav>

<div class="container mt-3">
    {% if error %}
        <div>
            <p class="text-danger">{{ error }}</p>
        </div>  
    {% endif %}

    <form action="/premier-tirage" method="POST">
        <div class="form-group">
            <label for="bankroll">
                Bank :
            </label>
        </div>
        <div class="form-group">
            {% if bankroll %}
            <input
                type="number"
                class="form-control"
                id="bankroll"
                value="{{ bankroll }}"
                disabled
            />
            <input type="hidden" name="bankroll" value="{{ bankroll }}" />
            {% else %}
            <input
                type="number"
                class="form-control"
                id="bankroll"
                name="bankroll"
                placeholder="Insert Money..."
                required
            />
            {% endif %}
        </div>
        <div class="form-group">
            <label for="bet">
                Bet <span class="text-danger">*</span>
            </label>
            <input
                type="number"
                class="form-control"
                id="mise_joueur"
                name="mise_joueur"
                placeholder="Add you bet..."
                required
            />
        </div>
        <button type="submit" class="btn btn-success">Start game</button>
        {% if bankroll %}
        <a href="/reset" class="btn btn-primary"> Get your money </a>
        {% endif %}
    </form>

</div>

{% endblock %}