{% extends 'base.html' %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Casino Royal Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        {% if bankroll and mise_joueur %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <span>Bank : {{ bankroll }} €</span>
            </li>
            <li class="nav-item">
                <span>Bet : {{ mise_joueur }} €</span>
            </li>
        </ul>

        {% endif %}
    </div>
</nav>

<div class="container mt-3">

    <div class=" d-flex justify-content-between">
        {% for carte in dt_jeu %}
        <div class="carte">
            <img 
                src="{{ url_for('static', filename='cartes/'+carte+'.svg') }}" 
                alt="carte"
                class="carte-img"
            >
        </div>
        {% endfor %}
    </div>

    <div class="mt-5">
        <p>
            {{ resultat }}
        </p>
    </div>


    <p>
        <a class='' href="/">Play again ? </a>
    </p>


</div>

{% endblock body %}